<% provide(:title, 'Resources | S:K') %> 


<section id='intro'> 

		<h1>Resources</h1> 
		
		<p>
			The internet is a magical place where a lot of information is free for the taking. During my (now) ten-month foray into the world of computer science, I've found the following resources valuable.<br></br> 

			Also, I'd recommend local meetups that provide training, lectures, and tutorials. CS friends have also been a wonderful resource along with my foremost teacher: <%=link_to "Google", "www.google.com", :target => "_blank" %>
		</p>

		<h2>CS Basics/ Foundations</h2>
			<p>
			
				<%= link_to "UC Berkeley's CS 61A Course", "http://www-inst.eecs.berkeley.edu/~cs61a/sp13/", :target => "_blank" %> Although I've tried to learn from Codeacademy before, it was only by going through an introductory course on CS that I started understanding the basics. Go through all the homeworks and labs at least!<br>
				<%= link_to "CS 61A Lectures on Youtube", "http://www.youtube.com/watch?v=QMV45tHCYNI", :target => "_blank" %><br>
			</p>
		<h2>HTML/CSS/JS</h2> 
			<p>
				<%= link_to "Codeacademy", "http://www.codecademy.com/", :target => "_blank" %>I still found Codeacademy useful for learning the syntax of different coding languages as well as for immediate gratification. However, like reading (most) medieval latin texts v.s. classical, you may delude yourself into thinking you comprehend more than you actually do.<br>
				<%= link_to "Mozilla Developer Network's CSS Help", "https://developer.mozilla.org/en-US/docs/Web/CSS", :target => "_blank" %><br>
				<%= link_to "Eloquent Javascript", "http://eloquentjavascript.net/", :target => '_blank' %><br>
			</p> 
		<h2>Ruby</h2>
			<p>
				<%= link_to "The Well-Grounded Rubyist", "http://www.amazon.com/gp/product/1933988657", :target => "_blank" %><br>
				<%= link_to "Eloquent Ruby", '#', :target => '_blank' %>There are a number of wonderful Ruby Resources out there. I think these two books, however, provide a good, solid introduction. As much as I love Why's Poignant Guide ("Chunky Bacon! Chunky Bacon!), his rather stream-of-consciousness style was distracting.<br>
			</p>

		<h2>Ruby on Rails</h2>
			<p>
				<%= link_to "Hartl\'s Rails Tutorial", "http://ruby.railstutorial.org/ruby-on-rails-tutorial-book#top", :target => '_blank' %>Go through this tutorial. Just do it.</br>
				<%= link_to 'Ruby on Rails Guides', 'http://guides.rubyonrails.org/', :target => '_blank' %>During/After going through Hartl, make sure you understand the fundamentals (like MVC!)</br>
			</p>	

		<h2>Git</h2> 
			<p>
				<%= link_to "Understanding Git Conceptually", "http://www.sbf5.com/~cduan/technical/git/", :target => "_blank" %><br>			
				<em>Hartl's Rails Tutorial gives a great &amp; practical introduction to Git, Heroku, and test-driven development</em><br>
			</p>

</section> 