<h1>Admin Main View For Posts</h1>
<section id="intro">

<p>
        <%= link_to 'New Post', new_admin_post_path %>
        <%= link_to 'Back to Main Admin View', admin_path %>
</p>


<h2>Published Posts</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
 
  <% @post.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= raw post.text %></td>
      <td><%= link_to "Show", admin_post_path(post) %></td>
      <td><%= link_to 'Edit', edit_admin_post_path(post) %></td>
      <td><%= link_to "Delete", admin_post_path(post), method: :delete, data: { confirm: "Are you sure" } %></td>
    </tr>
  <% end %>
</table>
</section>