<section id="intro">
	<div id='blog_post'>

		<h1><%= @post.title %></h1>

		<p><%= @post.text %></p>

		<h2>Comments</h2>
		<%= render @post.comments %> 
		<br></br>
		<h2> Add a comment: </h2> 
		<%= render "comments/form" %> 

		<div id='left'>
			<%= link_to "<--", blog_path %> 
		</div> 

		<div id='right'>
			<%= link_to "-->", blog_path %>
		</div> 
		</p> 
	</div> 
</section> 