<nav id="nav">
	<ul>
		<li><%= link_to "HOME", root_path%></li>
		<li><%= link_to "EXPERIENCES", experience_path %> </li>
		<li><%= link_to "RESOURCES", resources_path %></li>
		<li><%= link_to "BLOG", blog_path %> </li>
	</ul> 

	<%= image_tag "pointer-down.png", id: "pointer" %> 

</nav>


<%= image_tag "me.JPG", id: "header_img" %> 
