<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %> 

  <!-- FONTS --> 
<link href='http://fonts.googleapis.com/css?family=Vollkorn:400,400italic' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>



 <!-- Javascript Stuff --> 

	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/js.js"></script>


  <!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->
</head>
<body>
	<div class="wrapper">

		<div id="header"> 
			<%= render 'layouts/header' %>
		</div>

		<div id="main"> 
			<%= yield %>
				<%= render 'layouts/footer' %>
	</div>  

</body>
</html>
