<!DOCTYPE html>
<html>
<head>

  <title><%= yield(:title) %></title>

 <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %> 

  <!-- FONTS --> 
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>

<%= csrf_meta_tag %>

 <!-- Javascript Stuff --> 

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->

<!-- Google Analytics Tracking Code --> 
<%= render 'layouts/ga' %> 


</head>
<body>
	<div class="wrapper">

	<div id="header"> 
		<%= render 'layouts/header' %>
	</div>

	<div id="main"> 
		<%= image_tag "ME.jpg", id: "header_img" %> 
		<%= yield %>
	</div>  

	<div id="footer"> 
	<%= render 'layouts/footer' %>
	</div>
		
</body>
</html>
